<div class="container">
	<div class="row clearfix">
		<div class="col-md-6 column">
			<div class="carousel slide" id="carousel-574481">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-574481">
					</li>
					<li data-slide-to="1" data-target="#carousel-574481">
					</li>
					<li data-slide-to="2" data-target="#carousel-574481">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="v3/default.jpg" />
						<div class="carousel-caption">
							<h4>
								First Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="v3/default1.jpg" />
						<div class="carousel-caption">
							<h4>
								Second Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="v3/default2.jpg" />
						<div class="carousel-caption">
							<h4>
								Third Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-574481" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-574481" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<h3>
				h3. 这是一套可视化布局系统.
			</h3>
		</div>
		<div class="col-md-6 column">
			<div class="panel-group" id="panel-565295">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#panel-565295" href="#panel-element-330465">Collapsible Group Item #1</a>
					</div>
					<div id="panel-element-330465" class="panel-collapse in">
						<div class="panel-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-565295" href="#panel-element-761066">Collapsible Group Item #2</a>
					</div>
					<div id="panel-element-761066" class="panel-collapse collapse">
						<div class="panel-body">
							Anim pariatur cliche...
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>